<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
</head>
<body>
 <h2>App Title</h2>
    <table id="myTable">
        <thead>
         <tr>
           <th>Id</th>
           <th>First Name</th>
           <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${managers}">
             <td th:text="${user.id}">Id</td>
             <td th:text="${user.firstName}">First Name</td>
             <td th:text="${user.lastName}">Last Name</td>
             <td><button onclick="deleteRow(this)">Remove</button></td>
          
          
          
          
          
          </tr>
        </tbody> 
        <form method="POST" th:action = "@{/saveManager}">
    		First Name:<br>
    		<input type="text" id="firstName" name="firstName">
    		<br>Last Name:<br>
    		<input type="text" id="lastName" name="lastName">
			<br>Store Id:<br>
    		<input type="text" id="store_id" name="store_id">    		
    		<input type="submit" value="save">
		</form>
    </table>
    <script>
    	function deleteRow(r) {
    	  var i = r.parentNode.parentNode.rowIndex;
    	  document.getElementById("myTable").deleteRow(i);
    	}
    </script>
 </body>
</html>